.site-header{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	background: rgba(#fff, .8);
	z-index: 99;
	.site-branding{
		@include media-breakpoint-down(sm){
			width: 100%;
		    display:flex;
		    justify-content:space-between;
		    align-items:center;
		}

		.logo{
			max-width:150px;
			img{
				width:100%;
				display:block;
			}
		}
		.mobile-toggle{
			font-size: 25px;
			cursor: pointer;
			// XS Breakpoint
			@include media-breakpoint-up(md){
				display:none;
			}
		}
	}
}

.menu-item a{
	color: #999;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
}