
.site-info{
	text-align: center;
	
	@include media-breakpoint-up(sm){
		text-align: left;
	}
}

.site-longevity{
	text-align: center;

	@include media-breakpoint-up(sm){
		text-align: right;
	}
}


// Navigation Stuff
.nav-footer{
	
	.nav-title{
		border-bottom: solid 1px $primary;
	}

	ul{
		margin: 0;
		padding: 0;
		@extend .nav;

		.current_page_item{
			@extend .active;
		}
	}
}


// Address Card
.address-card{
	background-color: transparent;
	// border-width: 0;
}

#feature-image{
	.overlay{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 15px;

		h1{
			font-size: 3rem;
		}
	}
}

@include media-breakpoint-up(sm){
	.modal-wrapper{
		>div{
			padding: 20px 100px;
		}
	}
}

.modal-wrapper{
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
	display: none;
	>div{
		width: 100%;
		height: 100%;
		background-color: rgba(110, 113, 106, .9);
		padding: 20px 15px;
		overflow-y: scroll;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-size: 16px;
		
		.modal-content{
			max-width: 600px;
			width: 100%;
			padding: 20px 40px;
			border: 0;
			background-color: transparent;
			margin: auto;
			position: relative;
			.gform_wrapper{
				input[type=text], textarea{
					width: 100% !important;
				}
				label{
					font-weight: normal !important;
				}
				.gfield_label{
					font-size: 18px !important;
				}
				input[type=radio]{
					margin-top: 0 !important;
					margin-right: 5px !important;
				}
				input[type=submit]{
					@extend .btn-white;
					cursor: pointer;
				}
			}
			.close{
			    position: absolute;
			    top: 40px;
			    right: 5px;
			    color: #fff;
			    font-size: 35px;
			}
		}
	}
}

body{
	&.open{
		overflow: hidden;
	}
}

@media (max-width: 768px){
	.site-right{
		width: 100%;
	}
}

.donate-button{
	a{
		background-color: $red;
		color: #fff !important;
		&:hover{
			background-color: darken($red, 17%);
		}
	}
}

.nav-link{
	padding: 15px;
	border-bottom: 1px solid #ababab;

	&:last-child{
		border-bottom: 0;
	}
}

@include media-breakpoint-up(md){
	.nav-link{
		padding: 30px 10px;
	}
}